        .notification {
            display: flex;
            position: absolute;
            height: 70px;
            width: 0;
            right: 0;
            border-radius: 10px 0 0 10px;
            font-size: 0.9em;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            background: rgba(30, 28, 34, 0.77);
            border: 1px solid rgba(234, 0, 255, 0.129);
            padding: 10px;
            z-index: 1000;
            opacity: 0;
            transition: .5s ease-in-out;
            align-items: center;
        }
        .notificationOpen {
            width: 300px;
            opacity: 1;
            transition-delay: .2s;
        }
        .notificationText {
            width: 100%;
            overflow-y: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .notificationIcon {
            height: 100%;
            padding-right: 10px;
            font-size: 24px;
            display: flex;
            align-items: center;
        }
        .lastnotifications {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 55px;
            right: 0;
            min-height: 100px;
            max-height: 80vh;
            width: 0;
            border-radius: 10px 0 0 10px;
            font-size: 0.9em;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            background: rgba(30, 28, 34, 0.77);
            border: 1px solid rgba(234, 0, 255, 0.129);
            padding: 10px;
            opacity: 0;
            transition: .5s ease-in-out;
            overflow: none;
        }
        .lastnotifications i {
            padding-top: 4px;
            padding-right: 15px;
            font-size: 24px;
        }
        .lastnotificationsTopTitle {
            display: flex;
            width: 100%;
            min-height: 2em;
            justify-content: space-between;
            border-top: 1px solid #636363;
            margin-top: 5px;
            align-items: center;
        }
        .lastnotificationClose i {
            font-size: 14px;
            color: #949494;
            text-align: right;
            cursor: pointer;
        }
        .lastnotificationClose i:hover {
            color:rgb(255, 55, 0);
        }
        .lastnotificationsTitle {
            font-size: 1em;
            font-weight: 700;
            color:rgb(255, 55, 0);
            font-variant: small-caps;
        }
        .lastnotificationsTitle i {
            font-size: 1em;
            color: rgba(255, 255, 255);
            padding-right: 10px;
            padding-left: 5px;
        }
        .LastnotifData {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }
        .lastnotificationData {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .lastnotificationDataInfo {
            padding-top:4px;
            padding-bottom: 4px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .lastnotificationDataInfo:hover {
            background-color: #ff00e115;
        }
        .lastnotificationDataTime {
            font-size: 0.7em;
            color: #636363;
        }
        .lastnotificationsOpen {
            width: 300px;
            opacity: 1;
            transition-delay: .2s;
        }
        .lastnotificationsCenter{
            justify-content: center;
            align-items: center;
            min-height: 55px;
            border-left: 4px solid rgb(177, 0, 212); 
        }
        .notificationAlert {
            border-left: 4px solid rgb(255, 242, 0);
        }
        .notificationWarning {
            border-left: 4px solid rgb(255, 55, 0);
        }
        .notificationInfo {
            border-left: 4px solid rgb(72, 0, 255); 
        }
        .notificationOK {
            border-left: 4px solid rgb(34, 255, 0); 
        }
